# Python
server/venv/
server/__pycache__/
server/*.pyc
server/instance/

# Node
client/node_modules/
client/dist/

# Environment variables
.env
server/.env
client/.env

# IDE
.vscode/

# macOS
.DS_Store